.registration{
  height:800px;
  width:100vw;
  position: relative; 
}
/* 要素を上下左右中央よせにする。 */
.center{ 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 5%;
  margin: auto;
  width: 35vw; 
  height:500px;
  max-height: 500px; 
}

.d-flex{
    display: flex;
}
