.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.task-button{
  width: 150px;
  height: 150px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
}

.genre-button{
  width: 150px;
  height: 150px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
}