.head-bar{
  width: 100vw;
  height: 50px;
  display: flex;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
}

.menu{
  width: 100vw;
  height: 5vw;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  width: 70vw;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 10px;
}

.user-info{
  width: 30vw;
  color: black;
  display: flex;
  align-items: center;
  font-size: 24px;
}